header > h1, h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

body {
  background-color: #ffd6ba;
  padding: 3em;
}

nav {
  background-color: #faf9f9;
  padding: 1em;
  max-width: 250px;
  border-width: 2px;
  border-color: #bee3db;
  border-style: dashed;
}

nav > ul {
  list-style-type: none;
}

nav > ul li {
    padding: 2px;
}

nav > ul li a {
  text-decoration: none;
}

nav > ul li a:hover {
  background-color: #BEE3DB;
}

nav > ul li a:visited {
  color: black;
}

nav > ul li.active {
  background-color: #89b0ae;
}

main {
  background-color: #89b0ae;
  padding: 2em;
}

footer {
  margin: 1em;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}

.food-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  background-color: #FFD6BA;
}

th {
  font-family: 'Poppins', sans-serif;
}

th, td {
  padding: 1em;
}

tbody tr:nth-child(odd) {
  background-color: #BEE3DB;
}

tbody tr:nth-child(even) {
  background-color: #FAF9F9;
}

caption {
  padding: 5px;
  font-style: italic;
  caption-side: bottom;
  color: #555B6E;
  text-align: right;
}
